@font-face {
  font-family: "Comfortaa-light";
  src: url(../fonts/comfortaa-light.ttf);
}
@font-face {
  font-family: "Gardensc-regular";
  src: url(../fonts/gardensc-regular.otf);
}
@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/geometria.eot');
  src: url('../fonts/geometria/geometria.eot?#iefix') format('embedded-opentype'), /* IE < 9 */ url('../fonts/geometria/geometria.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/geometria/geometria.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */ url('../fonts/geometria/geometria.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/geometria/geometria.svg#geometria') format('svg');
  
  /* IE 9 Compatibility Mode */
  /* Chrome < 4, Legacy iOS */
}
.h1_less {
  font-size: 46px;
}
button,
button[type="submit"],
input[type="submit"] {
  background-color: #8f313e;
}
@keyframes btn_anime {
  0% {
    background-color: #8f313e;
  }
  35% {
    background-color: #4d7ab0;
  }
}
.all_caf_btn {
  background-color: #8f313e;
  padding: 10px 20px;
  margin: 10px;
  color: #ffffff;
  border-radius: 5px;
}
.all_caf_btn:hover {
  animation: btn_anime 1s linear;
  background-color: #4d7ab0;
  color: #ffffff;
}
.all_caf_link:hover {
  animation: btn_anime 1s ease-in-out;
  background-color: #4d7ab0;
  color: #ffffff;
  box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.3);
}
.linkW {
  color: #ffffff;
  font-size: 18px;
}
.linkW:hover {
  color: #8f313e;
}
.linkB {
  color: #8590aa;
  font-size: 18px;
}
.linkB:hover {
  color: #8f313e;
}
body,
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Geometria";
  text-transform: none !important;
  font-size: 18px;
}
.back-to-top {
  background-color: #8f313e;
}
.header .header-main.sticky {
  background: #333333;
}
.header .header-main.plugin .main-menu .nav li.current-menu-parent > a,
.header .header-main.plugin .main-menu .nav li.current-menu-item > a,
.header .header-main.plugin.sticky .main-menu .nav > li.current-menu-parent > a,
.header .header-main.plugin .main-menu .nav li:hover > a {
  color: #90bef5 !important;
}
.header .header-main.sticky .logo .default-logo {
  display: block;
}
#mobile_menu .mobile-main-menu.plugin .nav li.current-menu-parent > a {
  color: #4d7ab0;
}
.header .header-main.plugin #menu-button span {
  background: #8f313e;
}
.header .header-main.plugin #menu-button span,
.header .header-main.plugin #menu-button span:before,
.header .header-main.plugin #menu-button span:after {
  background: #8f313e;
}
.header .header-main.sticky .main-menu .nav > li > a {
  color: #ffffff !important;
  text-transform: none !important;
}
.header .header-main.plugin.sticky .main-menu .nav > li:hover > a {
  color: #90bef5 !important;
}
.header .header-main .main-menu .nav li a {
  text-transform: none !important;
}
.slider3 {
  background-color: #ffffff;
}
.slider3 h2 {
  color: #4d7ab0;
  font-size: 32px;
  padding-bottom: 46px;
}
.slider3 .work-slider-dots .dots-count {
  color: #8590aa;
  font-size: 24px;
}
.slider3 .work-slider .work-slide-text h2 {
  color: #333333;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.slider3 .work-slider .work-slide-text p {
  color: #8590aa;
  font-size: 18px;
}
.slider3_r {
  background-color: #e7e3d4;
}
.slider3_r h2 {
  color: #8f313e;
  font-size: 32px;
  padding-bottom: 46px;
}
.slider3_r .work-slider-dots .dots-count {
  color: #777777;
  font-size: 24px;
}
.slider3_r .work-slider .work-slide-text h2 {
  color: #8f313e;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.slider3_r .work-slider .work-slide-text p {
  color: #777777;
  font-size: 18px;
}
.slider2 {
  background-color: #e7e3d4;
}
.slider2 h2 {
  color: #8f313e;
  font-size: 32px;
}
.slider2 .owl-carousel.student-review .owl-nav button {
  background-color: #8f313e !important;
  margin-top: 20px;
}
.slider2 .owl-carousel.student-review .owl-nav button i.fa {
  color: #e7e3d4;
}
.slider2 .owl-carousel.student-review .owl-nav button:hover {
  background-color: #741225 !important;
}
.slider2 .style--two h5 {
  color: #8f313e;
  font-size: 24px;
  text-align: center;
}
.banner.analytic {
  margin-bottom: 20px;
  padding-bottom: 0;
}
.banner.analytic .banner-content h1 {
  color: #90bef5;
  font-size: 46px;
}
.banner.analytic .banner-content p {
  color: #c4dbf6;
  font-size: 18px;
}
.banner.analytic .link {
  color: #ffffff;
}
.banner.analytic .link:hover {
  color: #90bef5;
}
.feature-box .img {
  margin-bottom: 1%;
}
.feature-box .img img {
  width: 90%;
  margin: 5%;
}
.feature-box p {
  padding: 1% 8%;
}
.feature-box:before {
  position: absolute;
  content: "Шаг 1";
  width: 100%;
  text-align: center;
  background-color: #c4dbf6;
  padding: 5px;
  border-radius: 10px;
  left: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  color: #4d7ab0;
}
.feature-box:before {
  content: "Шаг 1.";
}
.feature-box.twoo:before {
  content: "Шаг 2.";
}
.feature-box:after {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1116%;
  height: 100%;
  content: "";
  left: -1000%;
  top: 0;
  z-index: -1;
  border-top-right-radius: 150px;
}
.feature-box.three:before {
  content: "Шаг 3.";
}
.feature-box.four:before {
  content: "Шаг 4.";
}
.feature-box.five:before {
  content: "Шаг 5.";
}
.feature-box.six:before {
  content: "Шаг 6.";
}
.feature-box:before,
.feature-box.two:before,
.feature-box.two h2,
.feature-box.three:before,
.feature-box.three h2,
.rating strong {
  color: #4d7ab0;
}
.part_left {
  float: left;
  width: 50%;
  padding-right: 0;
}
.part_right {
  float: right;
  width: 50%;
  padding-left: 0;
}
.steps .col-lg-4 {
  margin: 0;
  padding: 0;
}
.steps .step {
  background-color: #c4dbf6;
  border-radius: 80px 80px 5px 5px;
}
.steps .step .img {
  background-color: #ffffff;
  border-radius: 80px;
}
.steps .step .img img {
  width: 70%;
  margin: 15%;
}
.steps .step .desk {
  margin: 0 10%;
}
.steps .step .desk h3 {
  font-size: 32px;
  text-align: center;
  color: #333333;
  padding-top: 7%;
  padding-bottom: 3%;
}
.steps .step .desk .img {
  background-color: #ffffff;
}
.steps .step .desk .img img {
  width: 84%;
  margin: 10% 8%;
  margin-bottom: 5%;
}
.steps .step .desk .part_left p {
  width: 48%;
  padding-left: 15px;
  position: absolute;
  /* добавили */
  bottom: 25px;
  /* добавили */
}
.steps .step .desk .part_right p {
  width: 48%;
  padding-right: 15px;
  position: absolute;
  /* добавили */
  bottom: 25px;
  /* добавили */
}
.steps .step .desk h3 {
  color: #8590aa;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
.steps .step2 {
  background-color: #c4dbf6;
  border-radius: 5px 5px 80px 80px ;
}
.steps .step2 .img {
  background-color: #ffffff;
  border-radius: 80px;
  padding: 2px;
}
.steps .step2 .img img {
  width: 80%;
  margin: 10%;
}
.steps .step2 .desk {
  margin: 0 10%;
}
.steps .step2 .desk h3 {
  font-size: 32px;
  text-align: center;
  color: #333333;
  padding-top: 7%;
  padding-bottom: 3%;
}
.steps .step2 .desk p {
  padding-bottom: 5%;
}
.steps2 .step {
  box-shadow: 0 0 15px rgba(122, 122, 122, 0.5);
  height: 100%;
}
.steps2 .step .img {
  background-color: #ffffff;
}
.steps2 .step .img img {
  width: 70%;
  margin: 10% 15%;
  margin-bottom: 5%;
}
.steps2 .step h3 {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 10%;
  width: 100%;
}
.steps2 .step p {
  margin: 0 4%;
}
.steps2 .arrow {
  width: 300px;
  padding: 10px 10px;
  position: relative;
  background: #4d7ab0;
  border-radius: 3px;
}
.steps2 .arrow:before {
  content: "";
  border: solid transparent;
  position: absolute;
  top: 100%;
  left: 50%;
  border-top-color: #4d7ab0;
  border-width: 16px;
  margin-left: -16px;
}
.steps3 .step3 {
  display: block;
  border-radius: 10px;
  background-color: #c4dbf6;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.3);
  box-shadow: 0 0 15px rgba(122, 122, 122, 0.5);
  height: 90%;
  margin: 50px 0;
}
.steps3 .step3 .img img {
  width: 84%;
  margin: 10% 8%;
  margin-bottom: 5%;
}
.steps3 .step3 .part_left {
  background-color: #ffffff;
  height: 100%;
  float: left;
  width: 50%;
}
.steps3 .step3 .part_left p {
  margin: 10%;
  max-height: 90%;
  overflow-Y: auto;
  color: #333333;
}
.steps3 .step3 .part_right {
  height: 100%;
  width: 50%;
  float: right;
}
.steps3 .step3 .part_right p {
  margin: 10%;
  color: #333333;
  max-height: 100%;
  overflow-Y: auto;
}
.steps3 .step3 h3 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
.steps3 .step3 .arrow_right {
  padding: 2% 1%;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
}
.steps3 .step3 .arrow_right:before {
  content: "";
  border: solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  border-left-color: #ffffff;
  border-width: 20px;
  margin-top: -20px;
}
.steps3 .step3 .arrow_left {
  padding: 20px 10px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
}
.steps3 .step3 .arrow_left:before {
  content: "";
  border: solid transparent;
  position: absolute;
  right: 100%;
  top: 50%;
  border-right-color: #ffffff;
  border-width: 20px;
  margin-top: -20px;
}
.steps3 .step3.two .part_left {
  background-color: #c4dbf6;
}
.steps3 .step3.two .part_right {
  background-color: #ffffff;
}
.steps4 .step4 {
  display: block;
  border-radius: 10px;
  height: 90%;
  margin: 50px 0;
}
.steps4 .step4 h2.black {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
.steps4 .step4 .img img {
  width: 70%;
  margin-left: 19%;
  margin-bottom: 5%;
}
.steps4 .step4 p {
  padding: 0% 5%;
}
.steps4 .step4 h3 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
.steps5 h2.black {
  color: #4d7ab0;
  font-size: 32px;
  margin-bottom: 5%;
}
.steps5 .owl-carousel.student-review .owl-nav button {
  background-color: #c4dbf6 !important;
  margin-top: 20px;
}
.steps5 .owl-carousel.student-review .owl-nav button i.fa {
  color: #ffffff;
}
.steps5 .owl-carousel.student-review .owl-nav button:hover {
  background-color: #4d7ab0 !important;
}
.steps5 .style--two h5 {
  color: #4d7ab0;
  font-size: 24px;
  text-align: center;
}
.steps5 .step5 {
  display: block;
  border-radius: 10px;
  height: 90%;
  margin: 50px 0;
}
.steps5 .step5 .img img {
  width: 70%;
  margin-left: 19%;
  margin-bottom: 5%;
}
.steps5 .step5 p {
  padding: 0% 5%;
}
.steps5 .step5 h3 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .steps3 .step3 .part_left {
    float: left;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .steps3 .step3 .part_right {
    float: right;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
  }
  .steps3 .step3 .arrow_right {
    padding: 10px 10px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
  }
  .steps3 .step3 .arrow_right:before {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 104%;
    left: 50%;
    border-top-color: #ffffff;
    border-width: 20px;
    margin-left: -20px;
  }
  .steps3 .step3 .arrow_left {
    padding: 10px 10px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
  }
  .steps3 .step3 .arrow_left:before {
    content: "";
    border: solid transparent;
    position: absolute;
    top: 104%;
    left: 50%;
    border-top-color: #ffffff;
    border-width: 20px;
    margin-left: -20px;
  }
  .steps3 .step3.two .part_left {
    float: none ;
  }
  .steps3 .step3.two .part_right {
    float: none;
  }
}
.main section.banner {
  background-image: url("../images/bg/main-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.main .diagramm h2.black {
  color: #4d7ab0;
  font-size: 32px;
}
.main .first_items {
  background-color: #ffffff;
}
.main .businesses {
  background-color: #e7e3d4;
}
.main .businesses h2.black {
  color: #8f313e;
  font-size: 32px;
}
.main .back_front {
  background-color: #ffffff;
}
.main .back_front h2 {
  color: #4d7ab0;
  font-size: 32px;
}
.main .back_front .feature-content .section-title h3.black {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #4d7ab0;
  font-size: 24px;
}
.main .back_front .feature-content .section-title p {
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.main .back_front .feature-content ul.list-check li h4 {
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.main .back_front .feature-content ul.list-check li:after {
  color: #4d7ab0;
}
.main .back_front .feature-img img {
  width: 85%;
}
.main .demos {
  background-color: #e7e3d4;
  background-image: url("../images/bg/main-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.main .demos h2 {
  color: #8f313e;
  color: #ffffff;
  font-size: 32px;
}
.main .demos p {
  color: #777777;
  color: #ffffff;
}
.main .demos .demos_card {
  background-color: rgba(222, 222, 222, 0.9);
  box-shadow: 0 0 15px rgba(122, 122, 122, 0.5);
  border-radius: 10px;
  padding: 20px 10px;
  padding-bottom: 30px;
}
.main .demos .demos_card h3 {
  color: #8f313e;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main .demos .demos_card div {
  margin-top: 30px;
  margin-bottom: 30px;
}
.main .demos .demos_card div p {
  line-height: 21px;
  padding: 1% 5%;
  color: #333333;
}
.main .demos .demos_card div a {
  padding: 15px;
}
.main .demos .demos_card div a i {
  font-size: 14px;
}
.main .demos .demos_card div p.log b {
  color: #333333;
}
.main .questions {
  background-color: #e7e3d4;
  background-image: url("../images/bg/main-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.main .questions h2.black {
  color: #ffffff;
  font-size: 32px;
}
.main .questions p {
  color: #ffffff;
}
.main .questions .question_card .single-service {
  background-color: rgba(255, 255, 255, 0.8);
}
.main .questions .question_card .single-service .service-content {
  height: 260px;
}
.main .questions .question_card .single-service .service-content h4 {
  color: #8f313e;
  font-size: 24px;
  text-align: left;
  line-height: 28px;
  margin-bottom: 20px;
}
.main .questions .question_card .single-service .service-content p {
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.restaurant section.banner {
  background-image: url("../images/bg/fast-food-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.restaurant .icon_map {
  background-color: #e7e3d4;
}
.restaurant .icon_map .section-title {
  margin-bottom: 0 !important;
}
.restaurant .icon_map .section-title h2 {
  color: #333333;
}
.restaurant .slider_vertical h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.restaurant .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.restaurant .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.restaurant .order_screen,
.restaurant .admin_order {
  background-color: #e7e3d4;
}
.restaurant .order_screen h2,
.restaurant .admin_order h2 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 3%;
}
.restaurant .order_screen p,
.restaurant .admin_order p {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
.restaurant .admin_order {
  background-color: #e7e3d4;
}
.restaurant .admin_order h2 {
  color: #8f313e;
}
.restaurant .admin_order p {
  color: #777777;
}
.restaurant .chef_screen {
  background-image: url("../images/img-businesses/fast-food/fastfood-order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.restaurant .chef_screen h2 {
  color: #ffffff;
  font-size: 32px;
}
.restaurant .chef_screen .single-service p {
  color: #777777;
  font-size: 18px;
}
.restaurant .back_office {
  background-color: #ffffff;
}
.restaurant .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.restaurant .caf-form h2 {
  color: #8f313e;
}
.restaurant section.banner {
  background-image: url("../images/bg/restaurant-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.restaurant #take-order h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.restaurant #take-order .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.restaurant #take-order .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.restaurant .slider3 {
  background-color: #e7e3d4;
}
.restaurant .slider3 h2 {
  color: #8f313e;
  font-size: 32px;
  padding-bottom: 46px;
}
.restaurant .slider3 .work-slider-dots .dots-count {
  color: #777777;
  font-size: 24px;
}
.restaurant .slider3 .work-slider .work-slide-text h2 {
  color: #8f313e;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.restaurant .slider3 .work-slider .work-slide-text p {
  color: #777777;
  font-size: 18px;
}
.restaurant #chief_screen h2 {
  color: #4d7ab0;
  font-size: 32px;
}
.restaurant #bring-order {
  background-image: url("../images/img-businesses/restaurant/bg-waiter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.restaurant #bring-order h2 {
  color: #ffffff;
  font-size: 32px;
}
.restaurant #bring-order .single-service p {
  color: #777777;
  font-size: 18px;
}
.fastfood section.banner {
  background-image: url("../images/bg/fast-food-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.fastfood .icon_map {
  background-color: #e7e3d4;
}
.fastfood .icon_map .section-title {
  margin-bottom: 0 !important;
}
.fastfood .icon_map .section-title h2 {
  color: #333333;
}
.fastfood .slider_vertical h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.fastfood .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.fastfood .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.fastfood .order_screen,
.fastfood .admin_order {
  background-color: #e7e3d4;
}
.fastfood .order_screen h2,
.fastfood .admin_order h2 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 3%;
}
.fastfood .order_screen p,
.fastfood .admin_order p {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
.fastfood .admin_order {
  background-color: #e7e3d4;
}
.fastfood .admin_order h2 {
  color: #8f313e;
}
.fastfood .admin_order p {
  color: #777777;
}
.fastfood .chef_screen {
  background-image: url("../images/img-businesses/fast-food/fastfood-order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.fastfood .chef_screen h2 {
  color: #ffffff;
  font-size: 32px;
}
.fastfood .chef_screen .single-service p {
  color: #777777;
  font-size: 18px;
}
.fastfood .back_office {
  background-color: #ffffff;
}
.fastfood .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.fastfood .caf-form h2 {
  color: #8f313e;
}
.shop section.banner {
  background-image: url("../images/bg/fast-food-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.shop .icon_map {
  background-color: #e7e3d4;
}
.shop .icon_map .section-title {
  margin-bottom: 0 !important;
}
.shop .icon_map .section-title h2 {
  color: #333333;
}
.shop .slider_vertical h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.shop .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.shop .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.shop .order_screen,
.shop .admin_order {
  background-color: #e7e3d4;
}
.shop .order_screen h2,
.shop .admin_order h2 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 3%;
}
.shop .order_screen p,
.shop .admin_order p {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
.shop .admin_order {
  background-color: #e7e3d4;
}
.shop .admin_order h2 {
  color: #8f313e;
}
.shop .admin_order p {
  color: #777777;
}
.shop .chef_screen {
  background-image: url("../images/img-businesses/fast-food/fastfood-order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.shop .chef_screen h2 {
  color: #ffffff;
  font-size: 32px;
}
.shop .chef_screen .single-service p {
  color: #777777;
  font-size: 18px;
}
.shop .back_office {
  background-color: #ffffff;
}
.shop .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.shop .caf-form h2 {
  color: #8f313e;
}
.shop section.banner {
  background-image: url("../images/bg/shop-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.bar {
  background-color: #e7e3d4;
}
.bar section.banner {
  background-image: url("../images/bg/fast-food-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.bar .icon_map {
  background-color: #e7e3d4;
}
.bar .icon_map .section-title {
  margin-bottom: 0 !important;
}
.bar .icon_map .section-title h2 {
  color: #333333;
}
.bar .slider_vertical h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.bar .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.bar .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.bar .order_screen,
.bar .admin_order {
  background-color: #e7e3d4;
}
.bar .order_screen h2,
.bar .admin_order h2 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 3%;
}
.bar .order_screen p,
.bar .admin_order p {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
.bar .admin_order {
  background-color: #e7e3d4;
}
.bar .admin_order h2 {
  color: #8f313e;
}
.bar .admin_order p {
  color: #777777;
}
.bar .chef_screen {
  background-image: url("../images/img-businesses/fast-food/fastfood-order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.bar .chef_screen h2 {
  color: #ffffff;
  font-size: 32px;
}
.bar .chef_screen .single-service p {
  color: #777777;
  font-size: 18px;
}
.bar .back_office {
  background-color: #ffffff;
}
.bar .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.bar .caf-form h2 {
  color: #8f313e;
}
.bar section.banner {
  background-image: url("../images/bg/bar-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.bar .slider_vertical h1 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.bar .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.bar .slider_vertical .swiper-slide {
  background-color: #e7e3d4;
}
.bar .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.bar .slider_vertical .main-slider__arrow:hover {
  background: #e2aab2;
}
.bar .steps3 .step3 {
  background-color: #F3F1EA;
}
.bar .steps3 .step3 h3 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
.bar .steps3 .step3.two .part_left {
  background-color: #F3F1EA;
}
.bar .steps3 .step3.two .part_right {
  background-color: #ffffff;
}
.cafe section.banner {
  background-image: url("../images/bg/fast-food-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.cafe .icon_map {
  background-color: #e7e3d4;
}
.cafe .icon_map .section-title {
  margin-bottom: 0 !important;
}
.cafe .icon_map .section-title h2 {
  color: #333333;
}
.cafe .slider_vertical h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.cafe .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.cafe .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.cafe .order_screen,
.cafe .admin_order {
  background-color: #e7e3d4;
}
.cafe .order_screen h2,
.cafe .admin_order h2 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 3%;
}
.cafe .order_screen p,
.cafe .admin_order p {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
.cafe .admin_order {
  background-color: #e7e3d4;
}
.cafe .admin_order h2 {
  color: #8f313e;
}
.cafe .admin_order p {
  color: #777777;
}
.cafe .chef_screen {
  background-image: url("../images/img-businesses/fast-food/fastfood-order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.cafe .chef_screen h2 {
  color: #ffffff;
  font-size: 32px;
}
.cafe .chef_screen .single-service p {
  color: #777777;
  font-size: 18px;
}
.cafe .back_office {
  background-color: #ffffff;
}
.cafe .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.cafe .caf-form h2 {
  color: #8f313e;
}
.cafe section.banner {
  background-image: url("../images/bg/restaurant-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.cafe #take-order h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.cafe #take-order .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.cafe #take-order .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.cafe .slider3 {
  background-color: #e7e3d4;
}
.cafe .slider3 h2 {
  color: #8f313e;
  font-size: 32px;
  padding-bottom: 46px;
}
.cafe .slider3 .work-slider-dots .dots-count {
  color: #777777;
  font-size: 24px;
}
.cafe .slider3 .work-slider .work-slide-text h2 {
  color: #8f313e;
  font-size: 24px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.cafe .slider3 .work-slider .work-slide-text p {
  color: #777777;
  font-size: 18px;
}
.cafe #chief_screen h2 {
  color: #4d7ab0;
  font-size: 32px;
}
.cafe #bring-order {
  background-image: url("../images/img-businesses/restaurant/bg-waiter.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.cafe #bring-order h2 {
  color: #ffffff;
  font-size: 32px;
}
.cafe #bring-order .single-service p {
  color: #777777;
  font-size: 18px;
}
.cafe section.banner {
  background-image: url("../images/bg/cafe-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.cafe #bring-order {
  background-image: url("../images/img-businesses/cafe/cafe-order-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.coffee_house {
  background-color: #e7e3d4;
}
.coffee_house section.banner {
  background-image: url("../images/bg/fast-food-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.coffee_house .icon_map {
  background-color: #e7e3d4;
}
.coffee_house .icon_map .section-title {
  margin-bottom: 0 !important;
}
.coffee_house .icon_map .section-title h2 {
  color: #333333;
}
.coffee_house .slider_vertical h1 {
  color: #4d7ab0;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.coffee_house .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.coffee_house .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.coffee_house .order_screen,
.coffee_house .admin_order {
  background-color: #e7e3d4;
}
.coffee_house .order_screen h2,
.coffee_house .admin_order h2 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 3%;
}
.coffee_house .order_screen p,
.coffee_house .admin_order p {
  color: #777777;
  font-size: 18px;
  padding-bottom: 10px;
}
.coffee_house .admin_order {
  background-color: #e7e3d4;
}
.coffee_house .admin_order h2 {
  color: #8f313e;
}
.coffee_house .admin_order p {
  color: #777777;
}
.coffee_house .chef_screen {
  background-image: url("../images/img-businesses/fast-food/fastfood-order.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.coffee_house .chef_screen h2 {
  color: #ffffff;
  font-size: 32px;
}
.coffee_house .chef_screen .single-service p {
  color: #777777;
  font-size: 18px;
}
.coffee_house .back_office {
  background-color: #ffffff;
}
.coffee_house .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.coffee_house .caf-form h2 {
  color: #8f313e;
}
.coffee_house section.banner {
  background-image: url("../images/bg/bar-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.coffee_house .slider_vertical h1 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 1%;
}
.coffee_house .slider_vertical .dot-line.style--two:before {
  background-color: #4d7ab0;
}
.coffee_house .slider_vertical .swiper-slide {
  background-color: #e7e3d4;
}
.coffee_house .slider_vertical .swiper-slide p {
  font-size: 18px;
  color: #777777;
}
.coffee_house .slider_vertical .main-slider__arrow:hover {
  background: #e2aab2;
}
.coffee_house .steps3 .step3 {
  background-color: #F3F1EA;
}
.coffee_house .steps3 .step3 h3 {
  color: #8f313e;
  font-size: 32px;
  text-align: center;
  margin-bottom: 5%;
}
.coffee_house .steps3 .step3.two .part_left {
  background-color: #F3F1EA;
}
.coffee_house .steps3 .step3.two .part_right {
  background-color: #ffffff;
}
.coffee_house section.banner {
  background-image: url("../images/bg/coffee-house-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.back_office h2.black {
  color: #4d7ab0;
}
.back_office .chaptar .chaptar-box.active {
  background-color: #4d7ab0;
}
.back_office .chaptar .chaptar-box {
  padding: 20px;
  padding-top: 25px;
}
.back_office .chaptar .chaptar-box h3 {
  font-size: 18px;
  text-align: center;
}
.back_office .chaptar .chaptar-box:hover {
  background-color: #4d7ab0;
}
.terminal section.banner {
  background-image: url("../images/bg/bg-terminal.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.terminal .terminal_for_business {
  background-color: #e7e3d4;
}
.terminal .terminal_for_business h2 {
  color: #8f313e;
  font-size: 32px;
}
.terminal .terminal_for_business p {
  color: #777777;
}
.terminal .terminal_for_business .service-icon {
  width: 100px;
  height: 100px;
  background-color: #e7e3d4;
}
.terminal .terminal_for_platforms {
  background-color: #ffffff;
}
.terminal .terminal_for_platforms h2 {
  color: #4d7ab0;
}
.terminal .terminal_for_platforms p {
  color: #8590aa;
  font-size: 18px;
}
.terminal .terminal_for_platforms .single-service img {
  width: 20%;
}
.terminal .terminal_for_platforms .single-service h3 {
  color: #4d7ab0;
  font-size: 24px;
}
.terminal .terminal_for_device {
  text-align: center;
  background-image: url("../images/bg/kass.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.terminal .terminal_for_device .testimonial-single {
  background-color: rgba(1, 1, 1, 0.7);
}
.terminal .terminal_for_device h2 {
  color: #ffffff;
  font-size: 32px;
}
.terminal .terminal_for_device .owl-carousel.student-review .owl-nav button {
  background-color: rgba(1, 1, 1, 0.7) !important;
  margin-top: 20px;
}
.terminal .terminal_for_device .owl-carousel.student-review .owl-nav button i.fa {
  color: #ffffff;
}
.terminal .terminal_for_device .owl-carousel.student-review .owl-nav button:hover {
  background-color: rgba(1, 1, 1, 0.9) !important;
}
.terminal .terminal_for_device .style--two h5 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
}
.terminal .terminal_for_oborud {
  background-color: #e7e3d4;
}
.terminal .terminal_for_oborud h2 {
  color: #8f313e;
  font-size: 32px;
}
.terminal .terminal_for_oborud h3 {
  color: #8f313e;
  font-size: 24px;
}
.terminal .terminal_for_oborud img {
  width: 40%;
}
.terminal .terminal_for_funk {
  background-color: #e7e3d4;
}
.terminal .terminal_for_funk h2 {
  color: #8f313e;
  font-size: 32px;
}
.terminal .terminal_for_funk .swiper-container.how-work-slider .swiper-slide {
  height: 80px !important;
  border-radius: 5px;
  padding: 2% 6% ;
}
.terminal .terminal_for_funk .swiper-container.how-work-slider .swiper-slide .content h3 {
  font-size: 24px;
}
.terminal .terminal_for_funk .swiper-container.how-work-slider .swiper-slide.active {
  background-color: #ffffff;
  border-radius: 5px;
}
.terminal .terminal_for_tems {
  background-color: #ffffff;
}
.terminal .terminal_for_tems h2 {
  color: #4d7ab0;
  font-size: 32px;
}
.terminal .terminal_for_tems .owl-carousel.student-review .owl-nav button {
  background-color: #c4dbf6 !important;
  margin-top: 20px;
}
.terminal .terminal_for_tems .owl-carousel.student-review .owl-nav button i.fa {
  color: #ffffff;
}
.terminal .terminal_for_tems .owl-carousel.student-review .owl-nav button:hover {
  background-color: #4d7ab0 !important;
}
.terminal .terminal_for_tems .style--two h5 {
  color: #4d7ab0;
  font-size: 24px;
  text-align: center;
}
.terminal .caf-form {
  background-color: #e7e3d4;
  padding-top: 80px;
}
.terminal .caf-form h2 {
  color: #8f313e;
}
.three_part_menu h2.black {
  color: #4d7ab0;
}
.three_part_menu .chaptar .chaptar-box.active {
  background-color: #4d7ab0;
}
.three_part_menu .chaptar .chaptar-box {
  padding: 20px;
  padding-top: 25px;
}
.three_part_menu .chaptar .chaptar-box h3 {
  font-size: 18px;
  text-align: center;
}
.three_part_menu .chaptar .chaptar-box:hover {
  background-color: #4d7ab0;
}
.swiper-container.how-work-slider .swiper-slide .content h3 {
  font-size: 24px;
  margin-bottom: 0px;
}
.bace-back .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.bace-back .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.bace-back .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.bace-back .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.bace-back .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.opportunities_part {
  background-color: #e7e3d4;
}
.opportunities_part .single-service i {
  font-size: 32px;
  color: #8f313e;
}
.opportunities_part .single-service .service-content h3 {
  color: #8f313e;
  font-size: 24px;
}
.opportunities_part .single-service .service-content p {
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.for_boss {
  background-color: #e7e3d4;
}
.for_boss .feature-content .section-title h2.black {
  color: #8f313e;
  font-size: 32px;
}
.for_boss .feature-content .section-title p {
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.for_boss .feature-content ul.list-check li p {
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.for_boss .feature-content ul.list-check li:after {
  color: #8f313e;
}
.for_boss .feature-img img {
  width: 85%;
}
.wherehouse section.banner {
  background-image: url("../images/bg/wherehouse-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.wherehouse .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.wherehouse .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.wherehouse .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.wherehouse .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.wherehouse .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.finance .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.finance .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.finance .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.finance .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.finance .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.finance section.banner {
  background-image: url("../images/bg/finance-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.security .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.security .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.security .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.security .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.security .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.security section.banner {
  background-image: url("../images/bg/security-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.marketing section.banner {
  background-image: url("../images/bg/marketing-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.marketing .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.marketing .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.marketing .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.marketing .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.marketing .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.sales-report .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.sales-report .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.sales-report .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.sales-report .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.sales-report .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.sales-report section.banner {
  background-image: url("../images/bg/sales-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.cooking-dish .management_c1 {
  color: #4d7ab0;
  font-size: 32px;
}
.cooking-dish .for_funk .accordion.management .accordion-card {
  padding: 3%;
}
.cooking-dish .for_funk .accordion.management .accordion-card:first-child {
  border-top: 1px solid #fff;
}
.cooking-dish .for_funk .accordion.management .accordion-card .accordion-title h3 {
  color: #4d7ab0;
  font-size: 24px;
  padding-left: 5%;
}
.cooking-dish .for_funk .accordion.management .accordion-card .accordion-title h3:after {
  right: 10%;
}
.cooking-dish section.banner {
  background-image: url("../images/bg/cooking.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.inline_nav {
  background-color: #ffffff;
}
.inline_nav .section-title h2.black {
  color: #4d7ab0;
  font-size: 32px;
}
.inline_nav .service-content h3 {
  color: #8590aa;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 5px;
}
.inline_nav .service-content h3.active {
  padding: 15px 0;
  color: #4d7ab0;
  font-size: 22px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(122, 122, 122, 0.3);
}
.inline_nav .service-content h3.active:hover {
  color: #8f313e;
}
.inline_nav.red {
  background-color: #e7e3d4;
}
.inline_nav.red .section-title h2.black {
  color: #8f313e;
}
.inline_nav.red .service-content h3 {
  color: #777777;
}
.inline_nav.red .service-content h3.active {
  color: #8f313e;
}
.inline_nav.red .service-content h3.active:hover {
  color: #4d7ab0;
}
.footer {
  padding: 0px;
  padding-top: 40px !important;
  background-image: url("../images/bg/main-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.footer .contacts {
  text-align: center;
}
.footer .contacts .icons {
  background-color: #8f313e;
  padding: 10px 20px;
  margin: 10px;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 7px 0px;
  width: 46px;
  height: 46px;
  border-radius: 50px;
}
.footer .contacts .icons:hover {
  animation: btn_anime 1s linear;
  background-color: #4d7ab0;
  color: #ffffff;
}
.footer .contacts p {
  color: #8590aa;
}
.footer .footer_center p {
  width: 100%;
  text-align: center;
}
.footer .imgIcons {
  margin: 40px;
}
.footer .imgIcons .imgIcon {
  width: 46px;
  height: 46px;
  margin: 6px;
}
.footer .imgShops {
  width: 150px;
}
.footer .copyright-footer {
  color: #ffffff;
}
.back-to-top {
  width: 46px;
  height: 46px;
}
.back-to-top i {
  display: block;
  font-size: 30px;
  padding-top: 6px;
}
.page_contacts section.banner {
  background-image: url("../images/bg/main-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
}
.page_contacts section.banner .banner-content h1 {
  color: #ffffff;
}
.page_contacts .p_contacts {
  background-color: #e7e3d4;
}
.page_contacts .p_contacts .service-content {
  text-align: center;
}
.page_contacts .p_contacts .service-content h3 {
  color: #8f313e;
  font-size: 24px;
}
.page_contacts .p_contacts .service-content p {
  color: #333333;
}
.page_contacts .p_contacts .service-content p a {
  color: #8f313e;
}
.page_contacts .p_contacts .service-content p a:hover {
  color: #4d7ab0;
}
.price section.banner {
  background-image: url("../images/bg/main-bg.png ");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
  padding-bottom: 0px;
}
.price h2 {
  margin-top: 10%;
  margin-bottom: 3%;
  font-size: 32px;
  color: #4d7ab0;
  text-align: center;
}
.price h3 {
  margin-bottom: 5%;
  font-size: 24px;
  color: #333333;
  text-align: center;
}
.price .info {
  margin-top: 2%;
}
.price .info p {
  margin-bottom: 0px;
  font-size: 18px;
  color: #333333;
  text-align: left;
}
.price #cafe,
.price #cafe,
.price #coffee-house,
.price #shop {
  margin-bottom: 5%;
}
.price .caf-form {
  background-color: #f8fbff;
}
/*table*/
button.tablinks {
  background-color: rgba(255, 255, 255, 0.7);
  color: #4d7ab0;
  font-size: 24px;
  padding: 1% 2%;
  margin: 0 5px;
  border-radius: 8px  8px 0 0  ;
}
button.active {
  background-color: #ffffff;
}
/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/
.fa-check-circle {
  color: #4d7ab0;
}
.fa-times-circle {
  color: #8f313e;
}
.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  margin: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
}
.rtable,
.rtable--flip tbody {
  -webkit-overflow-scrolling: touch;
  background: radial-gradient(left, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(right, ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}
.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: linear-gradient(to right, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}
.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: linear-gradient(to left, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}
.rtable th {
  font-size: 18px;
  text-align: left;
  color: #333333;
  background: #f8fbff;
  /*    max-width: 250px;*/
}
.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid #777777;
  color: #333333;
}
.rtable td.title_price,
.rtable th.title_price {
  color: #4d7ab0;
  font-size: 24px;
}
.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}
.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}
.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}
.rtable--flip td,
.rtable--flip th {
  display: block;
}
.rtable--flip td {
  background-image: none !important;
  border-left: 0;
}
.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}
.table-wrap {
  overflow-x: auto;
}
table.table-1 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table.table-1 th,
table.table-1 td {
  padding: 8px;
  border: 1px solid #333333;
  font-size: 18px;
  text-align: left;
  color: #333333;
}
table.table-1 th {
  font-size: 18px;
  color: #4d7ab0;
}
table.table-1 th.first,
table.table-1 td.first {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  color: #333333;
  background: #f8fbff;
  max-width: 600px;
}
@media only screen and (max-device-width: 800px) {
  .rtable th {
    width: 180px;
    height: 70px;
    white-space: normal;
  }
  .rtable th,
  .rtable td {
    height: 70px;
    align-content: center;
    vertical-align: middle;
  }
  button.tablinks {
    width: 44%;
    white-space: normal;
    font-size: 18px;
    margin: 8px 6px;
    border-radius: 8px;
  }
}
