@font-face {
    font-family: "Comfortaa-light"; 
    src: url(../fonts/comfortaa-light.ttf); 
}
@font-face {
    font-family: "Gardensc-regular"; 
    src: url(../fonts/gardensc-regular.otf); 
}
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria/geometria.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria/geometria.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria/geometria.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria/geometria.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria/geometria.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria/geometria.svg#geometria') format('svg'); /* Chrome < 4, Legacy iOS */
}


//переменные

@red: #8F313E;
@blue: #4D7AB0;
@moloko: #E7E3D4;
@l_blue: #C4DBF6;
@ll_blue: #F8FBFF;
@m_blue: #90BEF5;
@blue_gray: #8590AA;
@red_dark: #741225;
@gray: #777;
@white: #fff;
@black: #333;


@p: 18px;
@h3: 24px;
@h2: 32px;
@h1: 46px;

.h1_less{
    font-size: 46px;
}

@media only screen and (max-device-width: 720px) {
    @p: 16px;
    @h3: 18px;
    @h2: 22px;
    @h1: 260px;
}

//общие стили для кнопок и ссылок
button, button[type="submit"], input[type="submit"] {
    background-color: @red;
}



@keyframes btn_anime {
    0% {
        background-color: @red;
    }
    35% {
        background-color: @blue;
    }
}

.all_caf_btn{
    background-color: @red;
    padding: 10px 20px;
    margin: 10px;
    color: @white;
    border-radius: 5px;
   
    
    &:hover {
        animation: btn_anime 1s linear;
        background-color: @blue;
        color: @white;
//        box-shadow: 5px 5px 5px rgba(50,50,50,0.3);
    }
}


.all_caf_link{
    
    &:hover {
        animation: btn_anime 1s ease-in-out;
        background-color: @blue;
        color: @white;
        box-shadow: 5px 5px 5px rgba(50,50,50,0.3);
    }
    
}

.linkW{
    color: @white;
    font-size: @p;
    
    &:hover{
        color: @red;
    }
}
.linkB{
    color: @blue_gray;
    font-size: @p;
    
    &:hover{
        color: @red;
    }
}

.bg_img(@url){
    background-image: url(@url);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
        
    margin-bottom: 0px;
    padding-bottom: 40px;
     
} 

//стили для шапки и подвала
body, h1, h2, h3, h4, h5, p{
    
      font-family: "Geometria";
      text-transform: none !important;
      font-size: @p;
}

.back-to-top{
    background-color: @red;
}

.header .header-main.sticky {
    background: @black;
}
.header .header-main.plugin .main-menu .nav li.current-menu-parent > a, .header .header-main.plugin .main-menu .nav li.current-menu-item > a, .header .header-main.plugin.sticky .main-menu .nav > li.current-menu-parent > a,  .header .header-main.plugin .main-menu .nav li:hover > a {
    color: @m_blue !important;
}
.header .header-main.sticky .logo .default-logo {
     display: block;
}

#mobile_menu .mobile-main-menu.plugin .nav li.current-menu-parent > a{
    color: @blue;
}

//burger
.header .header-main.plugin #menu-button span{
    background: @red;
}
.header .header-main.plugin #menu-button span, .header .header-main.plugin #menu-button span:before, .header .header-main.plugin #menu-button span:after {
    background: @red;
}


.header .header-main.sticky .main-menu .nav > li > a {
    color: @white !important;
    text-transform: none !important;
}

.header .header-main.plugin.sticky .main-menu .nav > li:hover > a {
    color: @m_blue !important;
}
.header .header-main .main-menu .nav li a{
    text-transform:  none !important;
}
.slider3{
    h2{
           color: @blue;
           font-size: @h2;  
           padding-bottom: @h1;
        }
         background-color: @white;
    
    .work-slider-dots{
        .dots-count{
           color: @blue_gray;
           font-size: @h3;     
        }
    }
    .work-slider{
        .work-slide-text{
            h2{
                color: @black;
                font-size: @h3;
                margin-bottom: 20px;
                padding-bottom: 0px;
            }
            p{
              color: @blue_gray;
              font-size: @p;   
            }
        }
    }
}
.slider3_r{
    h2{
           color: @red;
           font-size: @h2;  
           padding-bottom: @h1;
        }
         background-color: @moloko;
    
    .work-slider-dots{
        .dots-count{
           color: @gray;
           font-size: @h3;     
        }
    }
    .work-slider{
        .work-slide-text{
            h2{
                color: @red;
                font-size: @h3;
                margin-bottom: 20px;
                padding-bottom: 0px;
            }
            p{
              color: @gray;
              font-size: @p;   
            }
        }
    }
}

.slider2{
        h2{
           color: @red;
           font-size: @h2;  
        }
         background-color: @moloko;
        .owl-carousel.student-review .owl-nav button{
            background-color: @red !important;
            margin-top: 20px;
            i.fa {
                color: @moloko;
            }
            
        }
        
        .owl-carousel.student-review .owl-nav button:hover{
            background-color: @red_dark !important;
        }
        .style--two{
            
            h5{
                color: @red;
                font-size: @h3; 
                text-align: center;
            } 
        }
    }


.cl1{
  
}

//стили для страницы терминала ресторана

.banner.analytic {
        margin-bottom: 20px;
        padding-bottom: 0;
        .banner-content{
            h1{
               color: @m_blue; 
               font-size: @h1;
            }
            p{
                color: @l_blue; 
                font-size: @p;
            }
        }
        .link{
            color: @white;
            &:hover{
                color: @m_blue;
            }
            
        }
        
    }

//.feature-box{
//    .img{
//         margin-bottom: 1%;
//        img{
//          width: 70%;
//          margin: 5% 15%;
//        } 
//    }
//    p{
//        padding: 1% 8%;
//    }
//}

.feature-box{
    .img{
         margin-bottom: 1%;
        img{
          width: 90%;
          margin:  5%;
        } 
    }
    p{
        padding: 1% 8%;
    }
}

.feature-box:before {
    position: absolute;
    content: "Шаг 1";
    width: 100%;
    text-align: center;
    background-color: @l_blue;
    padding: 5px;
    border-radius: 10px;
    left: 0;
    //top: 50px;
    font-size: @h2;
    font-weight: 600;
    line-height: 1;
    color: @blue;
}
.feature-box:before {
    content: "Шаг 1.";
}
.feature-box.twoo:before {
    content: "Шаг 2.";
}
.feature-box:after{
  background: rgba(0,0,0,0);
  position: absolute;
  width: 1116%;
  height: 100%;
  content: "";
  left: -1000%;
  top: 0;
  z-index: -1;
  border-top-right-radius: 150px;
}
.feature-box.three:before {
    content: "Шаг 3.";
}
.feature-box.four:before {
    content: "Шаг 4.";
}
.feature-box.five:before {
    content: "Шаг 5.";
}
.feature-box.six:before {
    content: "Шаг 6.";
}
//.feature-box:before, .feature-box.two:before, .feature-box.two h2, .feature-box.three:before, .feature-box.three h2, .rating strong {
//    color: @red;
//}
.feature-box:before, .feature-box.two:before, .feature-box.two h2, .feature-box.three:before, .feature-box.three h2, .rating strong {
    color: @blue;
}


.part_left{
          float: left;
          width: 50%;
//          padding: 2% 5%;
          padding-right: 0;
      }


.part_right{
          float: right;
          width: 50%;
//          padding: 5%;
          padding-left: 0;
      }

.steps{
        
    .col-lg-4{
        margin: 0;
        padding: 0;
    }
    .step{
    background-color: @l_blue;
    border-radius: 80px 80px 5px 5px;
    .img{
        background-color: @white;
        border-radius: 80px;
        
        img{
            width: 70%;
            margin:  15%;
        }
    }
    .desk{
        margin: 0 10%;
        h3{
            font-size: @h2;
            text-align: center;
            color: @black;
            padding-top: 7%;
            padding-bottom: 3%;
        }
        .img{
            background-color: @white;
            
        
            img{
                width: 84%;
                margin: 10% 8%;
                margin-bottom: 5%;
            }
        }
        .part_left{
            p{
              width: 48%;
                padding-left: 15px;
                position:absolute; /* добавили */
	           bottom: 25px; /* добавили */  
            }
            
        }
        .part_right{
            p{
              width: 48%;
                padding-right: 15px;
                position:absolute; /* добавили */
	           bottom: 25px; /* добавили */  
            }
            
        }
        h3{
            color: @blue_gray;
            font-size: @h2;
            text-align: center;
            margin-bottom: 5%;
        }
    }
    
    
}


.step2{
    background-color: @l_blue;
    border-radius: 5px 5px 80px 80px ;
    .img{
        background-color: @white;
        border-radius: 80px;
        padding: 2px;
        img{
            width: 80%;
            margin: 10%;
        }
    }
    .desk{
        margin: 0 10%;
        h3{
            font-size: @h2;
            text-align: center;
            color: @black;
            padding-top: 7%;
            padding-bottom: 3%;
        }
        p{
            padding-bottom: 5%;
        }
    }
}
}



.steps2{
    .step{
        box-shadow: 0 0 15px rgba(122,122,122,0.5);
        height: 100%;
        .img{
            background-color: @white;
            img{
                width: 70%;
                margin: 10% 15%;
                margin-bottom: 5%;
            }
        }
        
        h3{
            color: @white;
            font-size: @h2;
            text-align: center;
            margin-bottom: 5%;
            margin-top: 10%;
            width:  100%;
        }
        p{
            margin: 0 4%;
        }
    }
    .arrow {
	width: 300px;
	padding: 10px 10px;
	position: relative;
	//background: @l_blue;
    background: @blue;
        
	border-radius: 3px;   
    }
    .arrow:before {
        content: ""; 
        border: solid transparent;
        position: absolute;
        top: 100%;
        left: 50%;
        //border-top-color: @l_blue;
        border-top-color: @blue;
        border-width: 16px;
        margin-left: -16px;
    }
  
}



//выбрано
.steps3{
    .step3{
        display: block;
        border-radius: 10px;
        //border: solid 2px @l_blue;
        background-color: @l_blue;
        box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.3);
        box-shadow: 0 0 15px rgba(122,122,122,0.5);
        height: 90%;
        margin: 50px 0;
        .img{
            img{
                
                width: 84%;
                margin: 10% 8%;
                margin-bottom: 5%;
            }
        }
        .part_left{
            background-color: @white;
            height: 100%;
            float: left;
            width: 50%;
            
            p{
                margin: 10%;
                max-height: 90%;
                overflow-Y: auto;
                color: @black;
                  
            }
            
        }
        .part_right{
            height: 100%;
            width: 50%;
            float: right;
            p{
                margin: 10%;
                color: @black;
                max-height: 100%;
                overflow-Y: auto;
            
            }
            
        }
        h3{
            color: @blue;
            font-size: @p;
            text-align: center;
            margin-bottom: 5%;
        }
        .arrow_right {
            
            padding: 2% 1%;
            position: relative;
            background: @white;
            border-radius: 3px;   
        }
        .arrow_right:before {
            content: ""; 
            border: solid transparent;
            position: absolute;    
            left: 100%;
            top: 50%;
            border-left-color: @white;
            border-width: 20px;
            margin-top: -20px;
        }
        
        .arrow_left {
            
            padding: 20px 10px;
            position: relative;
            background: @white;
            border-radius: 3px;   
        }
        .arrow_left:before {
            content: ""; 
            border: solid transparent;
            position: absolute;  
            right: 100%;
            top: 50%;
            border-right-color: @white;
            border-width: 20px;
            margin-top: -20px;
        }
    }
    
    .step3.two{
      .part_left{
            background-color: @l_blue;
          
        }
        .part_right{
            background-color: @white;            
        }  
    }
}

.steps_for_work{
    .step{
        display: block;
        border-radius: 10px;
        //border: solid 2px @l_blue;
//        background-color: @l_blue;
//        box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.3);
//        box-shadow: 0 0 15px rgba(122,122,122,0.5);
        height: 90%;
        margin: 50px 0;
        h2.black{
            color: @blue;
            font-size: @h2;
            text-align: center;
            margin-bottom: 5%;
        }
        .img.two{
                 background-image: url("../images/bg/belg-circle.png"); 
                 h3{
                color: @red;
                font-size: @h3;
                text-align: center;
                margin-bottom: 5%;
                }
            }
        .img{
           background-position: top center;
           background-image: url("../images/bg/blue-circle.png");
           background-repeat: no-repeat;
            
            img{
                
                width: 68%;
                padding-top: 8%;
                margin-left: 12%;
                margin-bottom: 5%;
            }
            img.shop{
                
                width: 60%;
                padding-top: 8%;
                margin-left: 20%;
                margin-bottom: 5%;
            }
            h3{
            color: @blue;
            font-size: @h3;
            text-align: center;
            margin-bottom: 5%;
            }
        }
        p{
            padding: 0% 5%;
        }
      
       
        
    }
}

.steps5{
   
    .section-title{
        h2.black{
            color: @blue;
            font-size: @h2;
            
            margin-bottom: 0px;
        }
        margin-bottom: 10px;
    } 
     .owl-carousel.student-review .owl-nav button{
            background-color: @l_blue !important;
            margin-top: 20px;
            i.fa {
                color: @white;
            }
            
        }
        
        .owl-carousel.student-review .owl-nav button:hover{
            background-color: @blue !important;
        }
        .style--two{
            
            h5{
                color: @blue;
                font-size: @p; 
                text-align: center;
            } 
        }
    .owl-carousel.student-review .owl-nav button {
        top: -60px;
    }
   
    .step5{
        
        display: block;
        border-radius: 10px;
        //border: solid 2px @l_blue;
//        background-color: @l_blue;
//        box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.3);
//        box-shadow: 0 0 15px rgba(122,122,122,0.5);
        height: 90%;
        margin:  0;
        
        .img{
            
            img{
                
                width: 65%;
                margin-left: 22%;
                margin-bottom: 5%;
                z-index: 2;
                .fon_circle{
                    position: absolute;
                    z-index: 0;
                    left: 0;
                    top: 40px;
                    width: 40%;
                    height: calc(100% - 180px);
                    background-color: #857dfb;
                }
            }
           
        }
        
        
        
        p{
            padding: 0% 2%;
        }
      
        h3{
            color: @blue;
            font-size: @p;
            text-align: center;
            margin-bottom: 5%;
        }
        
       
    }
}



  
@media screen and (max-width: 768px) {
    
  .steps3{
    .step3{
        .part_left{    
            float:left;
            width: 100%;
            height: auto;
            padding-bottom: 10px;
            
        }
        .part_right{   
            float:right;
            width: 100%; 
            height: auto;
            padding-bottom: 10px;
        }
        
        .arrow_right {
            //down
           
	       padding: 10px 10px;
	       position: relative;
	       background: @white;
	       border-radius: 3px;    
        }
        .arrow_right:before {
            //down
            content: ""; 
	        border: solid transparent;
            position: absolute;
            top: 104%;
            left: 50%;
            border-top-color: @white;
            border-width: 20px;
            margin-left: -20px;
        }
        
        .arrow_left {
             //down
           
	       padding: 10px 10px;
	       position: relative;
	       background: @white;
	       border-radius: 3px;     
        }
        .arrow_left:before {
            //down
            content: ""; 
	        border: solid transparent;
            position: absolute;
            top: 104%;
            left: 50%;
            border-top-color: @white;
            border-width: 20px;
            margin-left: -20px;
        }
    }
    
       .step3.two{
          .part_left{
                float:none ;

            }
            .part_right{
               float:none;           
            }  
        }
    } 
    
    
}
























.main{
  
    section.banner{
        .bg_img( "../images/bg/main-bg.png ");
         text-align: center;  
    } 
    .diagramm{
       h2.black{
            color: @blue;
            font-size: @h2;
        } 
    }
    .first_items{
        background-color: @white;
    }
    .businesses{
        background-color: @moloko;
         h2.black{
            color: @red;
            font-size: @h2;
        } 
    }
    .back_front{
        background-color: @white;
        h2{
            color: @blue;
            font-size: @h2;
        }
        .feature-content{
            .section-title{
                h3.black{
                     margin-top: 40px;
                     margin-bottom: 20px;
                     color: @blue;
                     font-size: @h3;
                }
                p{
                    color: @black;
                    font-size: @p;
                    text-align: left;
                }
            }
            ul.list-check{
                li{
                    h4{
                        color: @black;
                        font-size: @p;
                        text-align: left;
                    }
                    &:after{
                        color: @blue;
                    }
                }
            }
        }
        .feature-img {
            img{
                width: 85%;
            }
        }
    }
    .demos{
        background-color: @moloko;
        .bg_img( "../images/bg/main-bg.png ");
        h2{
            color: @red;
            color: @white;
            font-size: @h2;
        }
        p{
            color: @gray;
            color: @white;
        }
        .demos_card{
            background-color: rgba(222,222,222,0.9);
            box-shadow: 0 0 15px rgba(122,122,122,0.5);
            border-radius: 10px;
            padding: 20px 10px;
            padding-bottom: 30px;
            
            h3{
                color: @red;
                font-size: @h3;
                margin-bottom: 20px;
                margin-top: 20px;
            }
            
            div{
                margin-top: 30px;
                margin-bottom: 30px;
               
                p{
                    line-height: @p+3;
                    padding: 1% 5%;
                    color: @black;
                }
                a{
                    padding: 15px;
                    i{
                        font-size: 14px;
                    }
                    
                }
                p.log{
                    
                    b{
                      color: @black;  
                    }
                }
            }
            
        }
    }
    .questions{
        background-color: @moloko;
        .bg_img( "../images/bg/main-bg.png ");
        h2.black{
            color: @white;
            font-size: @h2;
            
        }
        p{
            color: @white;
        }
        .question_card{
            .single-service{
                 background-color: rgba(255,255,255,0.8);
           
                      
                .service-content{
                    height: 260px;

                    h4{
                        color: @red;
                        font-size: @h3;
                        text-align: left;
                        line-height: @h3+4;
                        margin-bottom: 20px;
                    }
                    p{
                        color: @black;
                        font-size: @p;
                        text-align: left;

                    }
                }
            }
        }
        
    }
    
    
}
//стили для страницы restaurant
.restaurant{
    .fastfood;
    section.banner{
        .bg_img( "../images/bg/restaurant-bg.jpg");
         
    }
    .steps_for_work{
        h1{
            color: @blue; 
            font-size: @h2;
            text-align: center;
            margin-bottom: 1%;
        }
     
    }
    .slider3{
        .slider3_r;
    }
    #chief_screen{
        h2{
            color: @blue; 
            font-size: @h2;
        }
    }
    #bring-order{
        .bg_img( "../images/img-businesses/restaurant/bg-waiter.jpg");
        
        h2{
           color: @white;
           font-size: @h2;  
        }
        .single-service{
            
            p{
                color: @gray;  
                font-size: @p; 
                
            }
        }
    }
    #payment{
        
    }
}




//стили для страницы  fastfood

.fastfood{
    
    section.banner{
        .bg_img( "../images/bg/fast-food-bg.png ");
         
    }
    
    .icon_map{
        background-color: @moloko; 
        .section-title{
           margin-bottom: 0 !important;
           h2{
               color: @black;
            } 
        }
        
    }
    
    .steps_for_work{
        h1{
            color: @blue; 
            font-size: @h2;
            text-align: center;
            margin-bottom: 1%;
        }
        .dot-line.style--two:before {
            background-color: @blue;   
        }
        .swiper-slide  p {
            font-size: @p;
            color: @gray;
        }
          
    }

    
    .order_screen, .admin_order{
        h2{
            color: @red;
            font-size: @h2;
            text-align: center;
            margin-bottom: 3%; 
        }
        p{
            color: @gray;  
            font-size: @p; 
            padding-bottom: 10px;
        }
        background-color: @moloko;
    }
    .admin_order{
        h2{
            color: @red;
        }
        p{
            color: @gray;
        }
        background-color: @moloko;
    }
    .chef_screen{
        .bg_img( "../images/img-businesses/fast-food/fastfood-order.jpg");
        
        h2{
           color: @white;
           font-size: @h2;  
        }
        .single-service{
            
            p{
                color: @gray;  
                font-size: @p; 
                
            }
        }
    }
    
    .back_office{
        background-color: @white; 
        .chaptar-box{
            margin: 15% 0;
        }
        .chaptar-img{
            img{
                width: 80%;
            }
            p{
                margin-top: 3%;
                text-align: left;
                
            }
             a.linkB{
                     text-align: center;
                }
           
        }
    }
    
    .caf-form{
        background-color: @moloko;
        padding-top: 80px;
        h2{
           color: @red; 
        }
    }
}
//стили для страницы  shop

.shop{ 
   .fastfood;
   section.banner{
        .bg_img( "../images/bg/shop-bg.png");
         
    }
    
}

//стили для страницы  shop
.bar{
   
  .fastfood;
  section.banner{
        .bg_img( "../images/bg/bar-bg.png");
         
    }
    background-color: @moloko;
    .steps_for_work{
        h1{
            color: @red; 
            font-size: @h2;
            text-align: center;
            margin-bottom: 1%;
        }
        .dot-line.style--two:before {
            background-color: @blue;   
        }
        .swiper-slide{
            background-color: @moloko;
            p{
                font-size: @p;
                color: @gray;
            }
        }
        .main-slider__arrow:hover{
           background: lighten(@red, 40%); 
            
        }
          
    }
    .steps3{
        .step3{
            
            background-color: #F3F1EA;
            
            h3{
                color: @red;
                font-size: @h2;
                text-align: center;
                margin-bottom: 5%;
            }
            
        }

        .step3.two{
          .part_left{
                background-color: #F3F1EA;

            }
            .part_right{
                background-color: @white;            
            }  
        }
    } 
    
}
.cafe{
   
  .restaurant;
  section.banner{
        .bg_img( "../images/bg/cafe-bg.png");
         
    }
    #bring-order{
        .bg_img( "../images/img-businesses/cafe/cafe-order-bg.jpg");
    }
}
.coffee_house{
    
    .bar;
    section.banner{
        .bg_img( "../images/bg/coffee-house-bg.png ");
         
    }
}




.back_office{
        h2.black{
            color: @blue; 
        }
        .chaptar{
            
            .chaptar-box.active{
                background-color: @blue; 
            }
            .chaptar-box{
                padding: 20px;
                padding-top: 25px;
                h3{
                  font-size: @p;
                  text-align: center;
                }
                &:hover{
                    background-color: @blue;
                }
            }
            
        }
    }



.terminal{
    section.banner{
        .bg_img( "../images/bg/bg-terminal.png");
         text-align: center;  
    }
    .terminal_for_business{
        background-color: @moloko;
        
        h2{
            color: @red;
            font-size: @h2;
        }
        p{
            color: @gray;
        }
        .service-icon{
            width: 100px;
            height: 100px;
            background-color: @moloko;
        }
    }
    .terminal_for_platforms{
        background-color: @white;
        h2{
            color: @blue;
        }
        p{
            color: @blue_gray;
            font-size: @p;
        }
        .single-service{
            img{
                width: 20%;
            }
            h3{
                color: @blue;
                font-size: @h3;
            }
        }
    }
    .terminal_for_device{
        text-align: center;
        .testimonial-single{
            background-color: rgba(1, 1, 1 , 0.7);
        }
       .bg_img( "../images/bg/kass.jpg");
        
         h2{
           color: @white;
           font-size: @h2;  
        }
        
        .owl-carousel.student-review .owl-nav button{
            background-color: rgba(1, 1, 1 , 0.7) !important;
            margin-top: 20px;
            i.fa {
                color: @white;
            }
            
        }
        
        .owl-carousel.student-review .owl-nav button:hover{
            background-color: rgba(1, 1, 1 , 0.9) !important;
        }
        .style--two{
            
            h5{
                color: @white;
                font-size: @h3; 
                text-align: center;
            } 
        }
        
        
    }
    .terminal_for_oborud{
        background-color: @moloko;
        h2{
           color: @red;
           font-size: @h2;  
        }
        h3{
           color: @red;
           font-size: @h3;
        }
        img{
            width: 40%;
        }
    }
    
    
     .terminal_for_funk{
        
        background-color: @moloko;
        h2{
           color: @red;
           font-size: @h2;  
        }
         .swiper-container.how-work-slider {
             .swiper-slide{
                 height: 80px !important;
                
                 border-radius:5px;
                 padding: 2% 6% ;
               
                 .content{
                     h3{
                        font-size: @h3; 
                     }
                 } 
             }
         }
         .swiper-container.how-work-slider {
             .swiper-slide.active{
                 background-color: @white;
                 border-radius: 5px;
             }
         }
          
    }
    
    
     .terminal_for_tems{
        h2{
           color: @blue;
           font-size: @h2;  
        }
         background-color: @white;
        .owl-carousel.student-review .owl-nav button{
            background-color: @l_blue !important;
            margin-top: 20px;
            i.fa {
                color: @white;
            }
            
        }
        
        .owl-carousel.student-review .owl-nav button:hover{
            background-color: @blue !important;
        }
        .style--two{
            
            h5{
                color: @blue;
                font-size: @h3; 
                text-align: center;
            } 
        }
    }
    
    .caf-form{
        background-color: @moloko;
        padding-top: 80px;
        h2{
           color: @red; 
        }
    }
    
    
}
.three_part_menu{
       h2.black{
            color: @blue; 
        }
        .chaptar{
            
            .chaptar-box.active{
                background-color: @blue; 
            }
            .chaptar-box{
                padding: 20px;
                padding-top: 25px;
                h3{
                  font-size: @p;
                  text-align: center;
                }
                &:hover{
                    background-color: @blue;
                }
            }
            
        } 
    }

.swiper-container.how-work-slider .swiper-slide .content h3{
    font-size: @h3; 
    margin-bottom: 0px;
}

.bace-back{
     
    .management_c1{
        color: @blue;
        font-size: @h2;
    }
    .for_funk{
        
        .accordion.management{
           .accordion-card{
               padding: 3%;
               &:first-child{
                   border-top: 1px solid #fff;
               }
               .accordion-title{
                   h3{
                       color: @blue;
                       font-size: @h3;
                       padding-left: 5%;
                       &:after{
                           right: 10%;
                       }
                   }
               } 
            }  
        }   
        
          
    }
    
}



.opportunities_part{
    background-color: @moloko;
    
    .single-service{
        i{
            font-size: @h2;
            color: @red;
        }
        
        .service-content{
           h3{
                color: @red;
                font-size: @h3;

            }
            p{
                color: @black;
                font-size: @p;
                text-align: left;

            } 
        }
    }
    
}

.for_boss{
    background-color: @moloko;
    .feature-content{
        .section-title{
            h2.black{
                 color: @red;
                 font-size: @h2;
            }
            p{
                color: @black;
                font-size: @p;
                text-align: left;
            }
        }
        ul.list-check{
            li{
                p{
                    color: @black;
                    font-size: @p;
                    text-align: left;
                }
                &:after{
                    color: @red;
                }
            }
        }
    }
    .feature-img {
        img{
            width: 85%;
        }
    }
}
.wherehouse{
    section.banner{
        .bg_img( "../images/bg/wherehouse-bg.png");
         text-align: center;  
    }
    
    .bace-back;
}


.finance{
    .bace-back;
    section.banner{
        .bg_img( "../images/bg/finance-bg.png ");
         text-align: center;  
    }
}
.security{
    .bace-back;
    section.banner{
        .bg_img( "../images/bg/security-bg.png ");
         text-align: center;  
    }
}
.marketing{
    section.banner{
        .bg_img( "../images/bg/marketing-bg.png ");
         text-align: center;  
    }
    .bace-back;
}
.sales-report{
    .bace-back;
    section.banner{
        .bg_img( "../images/bg/sales-bg.png");
         text-align: center;  
    }
}
.cooking-dish{
    .bace-back;
    section.banner{
        .bg_img( "../images/bg/cooking.png");
         text-align: center;  
    }
    
}


.inline_nav{
    .section-title{
        h2.black{
            color: @blue;
            font-size: @h2;
        }
    }
    background-color: @white;
    .service-content{
        
        
            
            h3{
                color: @blue_gray;
                font-size:@p;
                padding: 15px 0;
                border-radius: 5px;
                
            }
            h3.active{
                padding: 15px 0;
                color: @blue;
                font-size:@p+4;
                border-radius: 5px;
                
                box-shadow: 0 0 25px rgba(122,122,122,0.3);
                &:hover{
                    color: @red;
                }
                
            }
        
    }
}

.inline_nav.red{
    .section-title{
        h2.black{
            color: @red;
           
        }
    }
    background-color: @moloko;
    .service-content{
            h3{
                color: @gray;
                
            }
            h3.active{
               
                color: @red;
            
                &:hover{
                    color: @blue;
                }
                
            }
        
    }
}








.footer{
    padding: 0px;
    padding-top: 40px !important;
    .bg_img( "../images/bg/main-bg.png ");
    .contacts{
        text-align: center;
        .icons{
            .all_caf_btn;
            display: inline-block;
            text-align: center;
            padding: 7px 0px;
            width: 46px;
            height: 46px;
            border-radius: 50px;
        }
        p{
            color: @blue_gray;
        }
    }
    .footer_center{
        p{
            width: 100%;
          
               text-align: center;
           
        }
        
    }
    
    .imgIcons{
        margin: 40px;
        .imgIcon{
        width: 46px;
        height: 46px;
        margin: 6px;
        }
        
    }
    .imgShops{
           width: 150px;
    }
    .copyright-footer{
        color: @white;
    }
}

.back-to-top{
    width: 46px;
    height: 46px;
    i{
        display: block;
        font-size: 30px;
        padding-top: 6px;
    }
}
.page_contacts{
    
    section.banner{
        .bg_img( "../images/bg/main-bg.png");
         text-align: center;
        .banner-content{
            h1{
               color: @white; 
            }
        }
         
    }
    
    
    .p_contacts{
    background-color: @moloko;
    .service-content{
        text-align: center;
        h3{
            color: @red;
            font-size:@h3;
        }
        p{
            color: @black;
            
            a{
                color: @red;
                
                &:hover{
                    color: @blue;
                }
            }
        }
    }
}
}

//media
















.price{
   section.banner{
        .bg_img( "../images/bg/main-bg.png ");
         text-align: center;  
         padding-bottom: 0px;
    } 
    
    h2{
        margin-top: 10%;
        margin-bottom: 3%;
        font-size: @h2;
        color: @blue;
        text-align: center;
    }
    h3{
        margin-bottom: 5%;
        font-size: @h3;
        color: @black;
        text-align: center;
    }
    .info{
       margin-top: 2%;
       p{
        margin-bottom: 0px;
        font-size: @p;
        color: @black;
        text-align: left;
        } 
    }
    #cafe, #cafe, #coffee-house, #shop{
        margin-bottom: 5%;
    }
    .caf-form{
//        background-color: rgba(0, 0, 0, 0.03);
        background-color: @ll_blue;
        
    }
    
}

/*table*/

    button.tablinks{
        background-color: rgba(255,255,255, 0.7);
        color: @blue;
        font-size: @h3;
        padding: 1% 2%;
        margin: 0 5px;
        border-radius: 8px  8px 0 0  ;
        
    }
    button.active{
        background-color: rgba(255,255,255, 1);
//      
    }





/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/
.fa-check-circle{
    color: @blue;
}
.fa-times-circle{
    color: @red;
}

.rtable {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;  
  overflow-x: auto;
  margin: auto;
  // optional - looks better for small cell values
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.rtable,
.rtable--flip tbody {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
  
  // scrolling shadows
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}

.rtable th {
  font-size: @p;
  text-align: left;
  color: @black;
  background: @ll_blue;
/*    max-width: 250px;*/
}


.rtable th,
.rtable td {
  padding: 6px 12px;
  border: 1px solid @gray;
  color: @black;
  
}
.rtable td.title_price, .rtable th.title_price{
    color: @blue;
    font-size: @h3  ;
}

.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  // border-collapse is no longer active
  border-left: 0;
}

// border-collapse is no longer active
.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}



.table-wrap{
	overflow-x:auto;
}	
table.table-1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.table-1 th, table.table-1 td {
	text-align: left;
    padding: 8px;
    border: 1px solid @black;
    font-size: @p;
    text-align: left;
    
    color: @black;
}

table.table-1 th{
    font-size: @p;
    color: @blue;
}
table.table-1 th.first, table.table-1 td.first {
	font-size: @p;
    text-align: left;
    font-weight: bold;
    color: @black;
    background: @ll_blue;
    max-width: 600px;
}


@media only screen and (max-device-width: 800px) {
    
    .rtable th {
        width: 180px;
        height: 70px;
        white-space: normal;
    }
    .rtable th,
    .rtable td {
      
      height: 70px;
        align-content: center;
        vertical-align: middle;
    }
    
    button.tablinks{
        width: 44%;
         white-space: normal;
        font-size: @p;
        margin: 8px 6px;
        border-radius: 8px;
    }
    
   
    
}




